<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="sqlrehberornegi.Properties.Settings.DBrehberConnectionString"
            connectionString="Data Source=LAPTOP-43S6GLV9;Initial Catalog=DBrehber;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>